.container {
    margin: 0 auto; 
    overflow: hidden;
    max-width: 460px;
    &:after, &:before {
        position: absolute;
        height: 100%;
        width: 90px;
        top: 0;
        display: block;
        content: ' ';
        z-index: 1;
    }
    &:before {
        left: 500px;
        background: linear-gradient(to right, #e3e1de, rgba(255, 255, 255, 0));
    }
    &:after{
        right: 520px;
        background: linear-gradient(to left, #e3e1de, rgba(255, 255, 255, 0));
    }
    .container-slider {
        display: flex;
        justify-content: flex-start;
        transition: transform 0.2s linear;
    }
    .container-img {
        margin: 8px;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        border: 2px solid #c5c6c8;
        img{
            height: 550px;
            z-index: 2;
        }
    }


.btn-prev{
    position: absolute;
    background-color: #46a29f;
    color: white;
    top: 35vh;
    border-radius: 100px;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    left: 470px;
    z-index: 5;
    cursor: pointer;
    &:focus {
        outline: #398582;
    }
    &:hover {
        transition: 0.2s all ;
        background-color: #35817f;
    }
}
.btn-next{
    cursor: pointer;
    position: absolute;
    background-color: #46a29f;
    color: white;
    right: 470px;
    top: 35vh;
    border-radius: 100px;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    z-index: 5;
    &:focus {
        outline: #256462;
    }
    &:hover {
        transition: 0.2s all ease-in-out;
        background-color:  #35817f;
    }
}

}